{
  "paneLayer": "Hud",
  "dismissable": false,
  "interactive": false,
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "positionLocked" : true,
      "anchor" : "CenterTop"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/scripted/starpounds/toolbar/background.png",
      "fileFooter" : ""
    },
    "zbackground" : { // Dumb, but lets things get placed behind the background zlevel.
      "zLevel" : 0,
      "type" : "image",
      "file" : "/interface/scripted/starpounds/toolbar/background.png",
      "position" : [0, 0]
    },
    "sizeBar" : {
      "zlevel" : 20,
      "type" : "progress",
      "position" : [4, 27],
      "background" : "",
      "size" : [91, 4],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/sizebar.png:default",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "sizeBarImmobile" : {
      "zlevel" : 21,
      "type" : "progress",
      "position" : [4, 27],
      "background" : "",
      "size" : [91, 4],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/sizebar.png:immobile",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "experienceBar" : {
      "zlevel" : 20,
      "type" : "progress",
      "position" : [31, 23],
      "background" : "",
      "size" : [61, 3],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/experiencebar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "capacityBar1" : {
      "zlevel" : 20,
      "type" : "progress",
      "position" : [51, 12],
      "background" : "",
      "size" : [34, 7],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/capacitybar.png:1",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "capacityBar2" : {
      "zlevel" : 21,
      "type" : "progress",
      "position" : [51, 12],
      "background" : "",
      "size" : [34, 7],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/capacitybar.png:2",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "capacityBar3" : {
      "zlevel" : 22,
      "type" : "progress",
      "position" : [51, 12],
      "background" : "",
      "size" : [34, 7],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/capacitybar.png:3",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "strainBar" : {
      "zlevel" : 20,
      "type" : "progress",
      "position" : [49, 4],
      "background" : "",
      "size" : [36, 7],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/strainbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "milkBar" : {
      "visible": false,
      "zlevel" : 20,
      "type" : "progress",
      "position" : [51, 12],
      "background" : "",
      "size" : [34, 7],
      "progressSet" : {
        "inner" : "/interface/scripted/starpounds/toolbar/milkbar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "sizeButton" : {
      "zlevel" : 23,
      "type" : "button",
      "base" : "/interface/scripted/starpounds/toolbar/buttonIcons/starpounds.png:default",
      "hover" : "/interface/scripted/starpounds/toolbar/buttonIcons/starpounds.png:hover",
      "pressed" : "/interface/scripted/starpounds/toolbar/buttonIcons/starpounds.png:pressed",
      "position" : [9, 4],
      "pressedOffset" : [0, -1]
    },
    "stomachButton" : {
      "type" : "button",
      "base" : "/interface/scripted/starpounds/toolbar/stomach.png:1",
      "hover" : "/interface/scripted/starpounds/toolbar/stomach.png:1",
      "pressed" : "/interface/scripted/starpounds/toolbar/stomach.png:1",
      "position" : [31, 5],
      "pressedOffset" : [0, -1]
    },
    "milkButton" : {
      "visible": false,
      "type" : "button",
      "base" : "/interface/scripted/starpounds/toolbar/milk.png:1",
      "hover" : "/interface/scripted/starpounds/toolbar/milk.png:1",
      "pressed" : "/interface/scripted/starpounds/toolbar/milk.png:1",
      "position" : [31, 5],
      "pressedOffset" : [0, -1]
    },
    "barIcon1" : {
      "type" : "image",
      "file" : "/interface/scripted/starpounds/toolbar/capacitybaricon.png",
      "position" : [86, 12]
    },
    "barIcon2" : {
      "type" : "image",
      "file" : "/interface/scripted/starpounds/toolbar/strainbaricon.png",
      "position" : [86, 4]
    },
    "barBackground1" : {
      "zlevel" : -20,
      "type" : "image",
      "file" : "/interface/scripted/starpounds/toolbar/barbackground.png",
      "position" : [48, 11]
    },
    "barBackground2" : {
      "zlevel" : -20,
      "type" : "image",
      "file" : "/interface/scripted/starpounds/toolbar/barbackground.png",
      "position" : [48, 3]
    }
  },
  "scriptWidgetCallbacks" : [
    "sizeButton",
    "stomachButton",
    "milkButton"
  ],
  "scripts" : ["/interface/scripted/starpounds/toolbar/toolbar.lua"],
  "scriptDelta" : 1
}
