[
  // Devs
  { "type" : "starpoundsshydispatchvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsapplevisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsblossomdancervisitor", "species" : [ "floran" ], "weight": 1  },
  // StarPounds Faction
  { "type" : "starpoundsgluttonistvisitor", "species" : [ "floran" ], "weight": 5  },
  { "type" : "starpoundsponderousvisitor", "species" : [ "glitch" ], "weight": 5  },
  { "type" : "starpoundsvelhanufollowervisitor", "species" : [ "avian" ], "weight": 5  },
  // Other
  { "type" : "deepfryfivevisitor", "weight": 10, "species" : [ { "name": "human", "weight": 7 }, { "name": "avian", "weight": 7 }, { "name": "apex", "weight": 7 }, { "name": "floran", "weight": 7 }, { "name": "glitch", "weight": 7 }, { "name": "hylotl", "weight": 7 }, { "name": "novakid", "weight": 2 } ]  },
  { "type" : "deepfryfiveavalivisitor", "species" : [ "avali" ], "weight": 5  },
  { "type" : "deepfryfiveelithianvisitor", "weight": 5, "species" : [ { "name": "aegi", "weight": 5 }, { "name": "avikan", "weight": 3 }, { "name": "akkimari", "weight": 3 }, { "name": "droden", "weight": 1 }, { "name": "trink", "weight": 1 } ]  },
  { "type" : "deepfryfivemaple32visitor", "weight": 5, "species" : [ { "name": "nuu", "weight": 5 }, { "name": "glutt", "weight": 1 } ]  },
  { "type" : "deepfryfivearcanavisitor", "weight": 5, "species" : [ { "name": "arcanian", "weight": 5 }, { "name": "gilten", "weight": 3 }, { "name": "gelsemis", "weight": 3 } ]  },
  { "type" : "deepfryfivesaturnianvisitor", "species" : [ "saturn" ], "weight": 5  },
  { "type" : "deepfryfivekrakothsvisitor", "species" : [ "ayylien" ], "weight": 1  },
  { "type" : "starpoundsminiknogvisitor", "species" : [ "apex" ], "weight": 3  },
  { "type" : "starpoundstonauacvisitor", "species" : [ "avian" ], "weight": 1  },
  { "type" : "starpoundsminervisitor", "species" : [ "human" ], "weight": 5  },
  { "type" : "starpoundsmootantvisitor", "species" : [ "mootant" ], "weight": 5  },
  { "type" : "starpoundsscientistvisitor", "weight": 5, "species" : [ { "name": "human", "weight": 10 }, { "name": "avian", "weight": 10 }, { "name": "apex", "weight": 10 }, { "name": "floran", "weight": 1 }, { "name": "glitch", "weight": 5 }, { "name": "hylotl", "weight": 10 }, { "name": "novakid", "weight": 1 } ]  },
  { "type" : "starpoundschefvisitor", "weight": 5, "species" : [ { "name": "human", "weight": 7 }, { "name": "avian", "weight": 7 }, { "name": "apex", "weight": 7 }, { "name": "floran", "weight": 2 }, { "name": "glitch", "weight": 7 }, { "name": "hylotl", "weight": 7 }, { "name": "novakid", "weight": 2 } ]  },
  { "type" : "starpoundspenguinvisitor", "species" : [ "penguin" ], "weight": 5  },
  { "type" : "feneroxvisitor", "species" : [ "fenerox" ], "weight": 2  },
  { "type" : "froggvisitor", "species" : [ "hylotl" ], "weight": 2  },
  { "type" : "alpacavisitor", "species" : [ "human" ], "weight": 2  },
  // Custom / Cameo
  { "type" : "spacethumperpilotvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsshirovisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundscuiavisitor", "species" : [ "avian" ], "weight": 1  },
  { "type" : "starpoundsdustyvisitor", "species" : [ "novakid" ], "weight": 1  },
  { "type" : "starpoundsmamvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsminivisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsseirravisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsaliposvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsfrehkivisitor", "species" : [ "avali" ], "weight": 1  },
  { "type" : "starpoundsralukovisitor", "species" : [ "avali" ], "weight": 1  },
  { "type" : "starpoundswubsvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundssixfourvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundsluceraivisitor", "species" : [ "human" ], "weight": 1 },
  { "type" : "starpoundsleggsvisitor", "species" : [ "human" ], "weight": 1  },
  { "type" : "starpoundssusiehaltmannvisitor", "species" : [ "human" ], "weight": 1 }
]
