{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aiyla", "Alara", "Aylin", "Aysun", "Beste", "Burcu", "Defne", "Ece", "Elif", "Fatma", "Hiranur", "Miray", "Yildiz", "Zehra", "Zeynep", "Aergul", "Afet", "Asli", "Banou", "Ceren", "Dilara", "Dilay", "Doga", "Esin", "Eylul", "Feriha", "Fusun", "Gulya", "Handan", "Irmak", "Kelebek", "Kiraz", "Makbule", "Mehtap", "Nermin", "Nuray", "Aysel", "Azra", "Canan", "Ceylan", "Damla", "Emel", "Esen", "Ilay", "Isra", "Lale", "Naz", "Nehir", "Pembe", "Pinar", "Sanem", "Seda", "Yara", "Yaz", "Belgin", "Berna", "Berrak", "Derya", "Dilek", "Ebrar", "Ecrin", "Ekin", "Elmas", "Elvan", "Emine", "Feray", "Funda", "Hande", "Hazan", "Meltem", "Narin", "Nurten", "Sevda", "Sevil", "Sidika", "Sumeyye"  ]
    ]
  ]
}
