{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ahmet", "Alp", "Ayaz", "Berat", "Deniz", "Emir", "Emre", "Eren", "Hamza", "Hasim", "Kerem", "Mehmet", "Musa", "Mustafa", "Omar", "Selim", "Yusuf", "Adlee", "Afshin", "Bayram", "Burak", "Cahill", "Candana", "Ceyhun", "Hosmunt", "Kahraman", "Mazhar", "Mirac", "Nijaz", "Okan", "Ozan", "Ruslan", "Safet", "Volkan", "Aagha", "Adem", "Altan", "Aslan", "Baris", "Cem", "Efe", "Emin", "Ihsan", "Kaan", "Niroop", "Taner", "Timur", "Ufuk", "Zehab", "Zeki", "Zoltan", "Levent", "Aydin", "Balian", "Cemil", "Cetin", "Demir", "Duman", "Eldar", "Eymen", "Galip", "Hakan", "Halil", "Hasad", "Kadir", "Murat", "Neval", "Sevket", "Suleyman", "Tabeeb" ]
    ]
  ]
}
